@CHARSET "US-ASCII";


.middleColumn {
	font-family: Helvetica;
	width: 400px;
	margin-right: 20px;
	margin-left: 15px;
	float: left;
	botom: 20px;
	top: 20px;
}

.middleContainer {
	position: relative;
	background-color: #585858;
	margin: 35px;
	width: 400px;
	height: auto;
	padding-bottom: 7px;
	-webkit-box-shadow: 0 3px 15px 0 #8C8C8C;
	box-shadow: 0 3px 15px 0 #8C8C8C;
}

h4{
	margin: 0px;
	margin-top: 3px;
}

.projectName {
	background-color: #585858;
	color: #FFF;
	width: 192px;
	height: 26px;
	text-align: right;
	padding-right: 7px;
	position: absolute;
	right:0px;
	z-index: 20;
	-webkit-box-shadow: 0 3px 15px 0 #000000;
	box-shadow: 0 3px 15px 0 #000000;
}

.featuredImage {
	position: relative;
	left: 0px;
	bottom: 0px;
}

.middleTitle {
	color: #DDDBDB;
	padding-left: 4px;
}

.horizontalRule {
	background-color: #DDDBDB;
	height: 2px;
	width: 397px;
	margin-left: 1px;
}

.projectDescription {
	color: #DDDBDB;
	font-size: 10pt;
	margin-left: 3px;
	margin-bottom: 0px;
	margin-top: 5px;
}

img {
	width: 400px;
	display: block;
}