@CHARSET "ISO-8859-1";

#backgroundcolor{
	position: fixed;
	background-color: #F5F5F5;
	height: auto;
	width: 100%;
	float: left;
	bottom: 0px;
	top: 0px;
	z-index: 1;
}

object{
	height: 100%;
	width: 100%;
}

#content{
	height: 100%;
	width: 100%;
	float: left;
	bottom: 0px;
	z-index: 2;
}

html, body{
	margin: 0px;
	height: 100%;
}

#nameDiv{
	position: absolute;
	top:100px;
	right: 20px;
	z-index: 1;
}

#tiltHolder{
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	width: 300px;
	z-index: 5;
}

#nameLink{
	position: absolute;
	display: block;
	top: 100px;
	right: 20px;
	width: 170px;
	height: 30px;
	z-index: 3;
}

#breadPage{
	height: 100%;
	position: relative;
	right: auto;
	left:350px;
	top: 0px;
	width:1000px;
	
}

#clickStuff{
	position: absolute;
	top: 150px;
	right: 23px;
}

#cvLink{
	position: absolute;
	display: block;
	top: 15px;
	right: 0px;
	width: 30px;
	height: 20px;
	z-index: 3;
}

#CV{
	z-index: 1;
	color:white;
}

#projects{
	z-index: 1;
	color:white;
}

#projectLink{
	position: absolute;
	display: block;
	right: 0px;
	width: 60px;
	height: 20px;
	z-index: 3;
}

#pictures{
	z-index: 1;
	color:white;
}

#pictureLink{
	position: absolute;
	display: block;
	right: 0px;
	width:	60px;
	height: 20px;
	z-index: 3;
}



#firstName{
	font-size: 28px;
	color: white;
	text-align: center;
}

#lastName{
	font-size: 28px;
	color: #3299bb;
	text-align: center;
}

#tiltedDiv{
	position: fixed;
	font-family: Helvetica;
	background: #585858;
	position: relative;
	width: 300px;
	height: 1100px;
	left: -80px;
	top: -30px;
	margin-top: -40px;
	
	-webkit-box-shadow: 0 3px 15px 0 #8C8C8C;
	box-shadow: 0 3px 15px 0 #8C8C8C;
	
	/* Safari */
    -webkit-transform: rotate(9deg);

    /* Firefox */
    -moz-transform: rotate(9deg);

    /* IE */
    -ms-transform: rotate(9deg);

    /* Opera */
    -o-transform: rotate(9deg);

    /* Standard */
    transform: rotate(9deg);
}